.top_panel {
  font-size: 4em!important;
  font-weight: normal!important;
  padding-top : 3em!important;
  padding-bottom : 2.5em!important;
  background-color: ghostwhite;
  width: 100%!important;
}
